* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    height: 100vh;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;
}

.container-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.anonyms {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 270px;
    height: 140px;
    position: relative;
    left: -35px;
}

h2 {
    color: #FF003D;
    font-size: 24px;
    position: absolute;
    left: 165px;
}

h3 {
    font-size: 30px;
    color: white;
}

p {
    font-size: 26px;
    color: #C0C0C0;
}

span {
    font-size: 28px;
    color: #FF2B51;
}

.img1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img2 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img3 {
    width: 300px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -55%);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
align-items: flex-end;
}

h1 {
    width: 65%;
    font-size: 30px;
    color: #FF2B51;
}

h1 span {
    font-size: 40px;
    color: #FF2B51;
}

ul {
    display: flex;
    gap: 30px;
    transform: rotate(90deg);
}

ul li {
    color: white;
    list-style: none;
}

.icon {
    width: 220px;
    height: 39px;
}